/* Tips inspired by a yt video. source: https://www.youtube.com/watch?v=E7QPO8P8nls */
h1,
p {
  font-family: "Libre Bodoni", serif;
}

/*background color*/
body {
  background-color: #f5f4e0;
}

/*header and the links*/
header {
  display: flex;
  align-items: center;
}

/*unordered lists*/
ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

li {
  margin-left: 4rem;
}
/*text colors*/
a {
  color: #5e1803;
}

#heading {
  color: #5e1803;
}

h1 {
  color: #5e1803;
}
p {
  color: #636363;
}

/*homepage images*/
.images {
  width: 20%;
}
.blackdress {
  width: 21%;
}

/*borders*/
h1 {
  border-top: 2px solid black;
}
footer {
  border-top: 2px solid black;
}

/*design page images*/

.ceramicVase {
  width: 150%;
}
.flowerChair {
  width: 150%;
}
.myDesign1 {
  width: 150%;
}
.myDesign2 {
  width: 200%;
}

/*mussle page images*/
.mussle {
  width: 20%;
}

/*making the page responsive*/
@media screen and (max-width: 520px) {
  header,
  ul {
    flex-direction: column;
    align-items: start;
  }

  ul {
    margin-top: 0;
  }

  li {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 520px) {
  /*cathegory section*/
  .category-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

/*Text animation in "my work" page*/
.myWork-text {
  font-size: 40px;
  font-weight: bold;
  color: lightskyblue;
  margin-top: 100px;
  margin-left: 40px;
  animation-name: rotate;
  animation-duration: 2s;
  position: relative;
}


@keyframes rotate {
  0% {
    transform: rotate(-5deg);
  }
  10% {
    transform: rotate(5deg);
  }
  20% {
    transform: rotate(-5deg);
  }
  30% {
    transform: rotate(5deg);
  }
}


.blueceramic-text {
  font-size: 40px;
  font-weight: bold;
  color: lightskyblue;
  margin-top: 60;
  margin-left: 40px;
  animation-name: slide;
  animation-duration: 2s;
  position: relative;
}


@keyframes slide {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(400px);
  }
  50% {
    transform: translateX(0);
  }
}

button {
  margin-top: 4rem;
  margin-bottom: 2rem;

}

